@using GenealogyWeb.Controllers
@model GenealogyWeb.Core.Models.Marriage

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
<script src="~/js/askForConfirmation.js"></script>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>

<br />

@{
    if (Model.id.HasValue)
    {
        <div>
            @Html.ActionLink(
               "✗ delete marriage", 
               nameof(MarriageController.DeleteMarriage), 
               new { id = Model.id }, 
               new {@class = "askforconfirmation" }
           )
        </div>
    }
    else
    {
        <div class="alert alert-info">
            <strong>Info:</strong> create a new marriage.
        </div>
    }
}

<hr />

@using (Html.BeginForm(nameof(MarriageController.PersistMarriage), "Data"))
{    
    <div class="form-group">
        @Html.LabelFor(m => m.id)
        @Html.TextBoxFor(m => m.id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.husband_id)
        @Html.DropDownListFor(
            m => m.husband_id,
            new SelectList((List<SelectListItem>)ViewData["men"], "Value", "Text"),
            "(Select a person)",
            new
            {
                @class = "form-control selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
        @Html.ValidationMessageFor(m => m.husband_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.wife_id)
        @Html.DropDownListFor(
            m => m.wife_id,
            new SelectList((List<SelectListItem>)ViewData["women"], "Value", "Text"),
            "(Select a person)",
            new
            {
                @class = "form-control selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
        @Html.ValidationMessageFor(m => m.wife_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.place)
        @Html.TextBoxFor(m => m.place, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.place)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.date)
        @Html.TextBoxFor(m => m.date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.comments)
        @Html.TextAreaFor(m => m.comments, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.comments)
    </div>

    <button type="submit">Save</button>
}
