@using GenealogyWeb.Controllers
@model GenealogyWeb.Core.Models.Person

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/askForConfirmation.js"></script>

<br />

<a href="/Main" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-arrow-right"></span>  Go to main page</a>

<br />

<hr/>

<br />

@{
    if (!Model.id.HasValue)
    {
        <div class="alert alert-info">
            Create a new person.
        </div>
        <br />
    }
}

@using (Html.BeginForm(nameof(PersonController.PersistPerson), "person"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.id)
        @Html.TextBoxFor(m => m.id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.father_surname)
        @Html.TextBoxFor(m => m.father_surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.father_surname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.mother_surname)
        @Html.TextBoxFor(m => m.mother_surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.mother_surname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.is_male)
        @Html.CheckBoxFor(m => m.is_male)
        @Html.ValidationMessageFor(m => m.is_male)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.birth_date)
        @Html.TextBoxFor(m => m.birth_date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.birth_date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.birth_place)
        @Html.TextBoxFor(m => m.birth_place, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.birth_place)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.death_date)
        @Html.TextBoxFor(m => m.death_date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.death_date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.death_place)
        @Html.TextBoxFor(m => m.death_place, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.death_place)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.info)
        @Html.TextBoxFor(m => m.info, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.info)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.comments)
        @Html.TextAreaFor(m => m.comments, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.comments)
    </div>

    <button type="submit" class="btn btn-primary">Save / Update</button>
}