<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script src="~/lib/pikaday/pikaday.js"></script>
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/zeroclipboard/dist/ZeroClipboard.min.js"></script>
<script src="~/lib/handsontable/dist/handsontable.js"></script>

<link rel="stylesheet" href="~/lib/pikaday/css/pikaday.css" />
<link rel="stylesheet" href="~/lib/handsontable/dist/handsontable.css" />

<script src="~/js/handsontable-script.js"></script>


<button name="save" id="save" class="intext-btn">Save</button>
<pre id="pending_changes" class="console"></pre>
<pre id="save_result" class="console"></pre>


<h3>@ViewData["title_1"]</h3>

<a href="popupex.html" onclick="return popitup('tree')">Show full genealogy</a>

<input id="search_field_persons" type="search" placeholder="Search">
<pre id="search_result_persons"></pre>

<div id="handsontable_persons"></div>

<hr/>


<h3>@ViewData["title_2"]</h3>

<input id="search_field_marriages" type="search" placeholder="Search">
<pre id="search_result_marriages"></pre>

<div id="handsontable_marriages"></div>

<hr />


<h3>@ViewData["title_3"]</h3>

<input id="search_field_sons" type="search" placeholder="Search">
<pre id="search_result_sons"></pre>

<div id="handsontable_sons"></div>


<script>

    function popitup(url) {
        newwindow=window.open(url,'name','height=800,width=600');
        if (window.focus) {newwindow.focus()}
        return false;
    }      

    document.addEventListener("DOMContentLoaded", function() {

        var saveResult = document.getElementById("save_result");

        var elements = new Array();

        var element = function(id, colHeaders, data) {
            this.id = id;
            this.pendingChanges = {};
            this.pendingChangeCounter = 0;
            this.colHeaders = colHeaders;
            this.data = data;            
            this.getRowDataAsText = function(rowData)
            {
                var text = '> { ';
                for (var columnIndex = 0; columnIndex < rowData.length; columnIndex++) {
                    if (rowData[columnIndex]) {
                        text += this.colHeaders[columnIndex] + '="' + rowData[columnIndex] + '"; ';
                    }
                }
                text += '}';

                return text;
            };
            this.addPendingChange = function(rowIndex, rowData) 
            {
                if(!(rowIndex in this.pendingChanges))
                {
                    this.pendingChangeCounter ++;                    
                }
                this.pendingChanges[rowIndex] = rowData;                
            };
        };

        var personsKey = 'persons';
        var marriagesKey = 'marriages';
        var sonsKey = 'sons';

        elements.push(new element(personsKey, @ViewData["colHeaders_1"], @ViewData["data_1"]));
        elements.push(new element(marriagesKey, @ViewData["colHeaders_2"], @ViewData["data_2"]));
        elements.push(new element(sonsKey, @ViewData["colHeaders_3"], @ViewData["data_3"]));

        var pendingChangesDiv = document.getElementById('pending_changes');

        /**
        * Shows the pending changes as text.
        */
        function visualizePendingChanges()
        {
            var text = "Pending changes:\r\n";
            for(var elementIndex=0; elementIndex<elements.length; elementIndex++)
            {
                var element = elements[elementIndex];
                text += '\r\n' + element.id + ' (' + element.pendingChangeCounter + ')' + ":\r\n";
                for(var rowIndex in element.pendingChanges)
                {
                    var rowData = element.pendingChanges[rowIndex];
                    text += element.getRowDataAsText(rowData) + "\r\n";
                }
            }
            pendingChangesDiv.innerText = text;
        }

        /**
        * Click on Save button
        **/
        Handsontable.Dom.addEvent(save, 'click', function () {

            var data = getDataToSend();
            console.log(JSON.stringify( data ));

            // save all cell's data
            $.ajax({
                url: "/Data/Save",
                type: "POST",
                data: JSON.stringify( data ),
                contentType: "application/json",
                complete: function (res) {
                    if (res.resultText === '"ok"') {
                        saveResult.innerText = 'Data saved';
                    }
                    else {
                        saveResult.innerText = 'Save error';
                    }
                }
            });
        });

        /**
        * Collects all data to send into a single object.
        **/
        function getDataToSend()
        {
            var data = {};
            for(var elementIndex=0; elementIndex<elements.length; elementIndex++)
            {
                var element = elements[elementIndex];
                var changes = [];
                var changeCount = 0;
                for(var rowIndex in element.pendingChanges)
                {                    
                    changes[changeCount]=element.pendingChanges[rowIndex];
                    changeCount++;
                }
                data[element.id] = changes;
            }
            return data;
        }

        handsontableScript(elements[0], visualizePendingChanges);
        handsontableScript(elements[1], visualizePendingChanges);
        handsontableScript(elements[2], visualizePendingChanges);

    });
</script>