<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script src="~/lib/pikaday/pikaday.js"></script>
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/zeroclipboard/dist/ZeroClipboard.min.js"></script>
<script src="~/lib/handsontable/dist/handsontable.js"></script>

<link rel="stylesheet" href="~/lib/pikaday/css/pikaday.css" />
<link rel="stylesheet" href="~/lib/handsontable/dist/handsontable.css" />

<script src="~/js/handsontable-script.js"></script>


<h3>@ViewData["title1"]</h3>

<input id="search_field1" type="search" placeholder="Search">
<p id="search_results1"></p>

<div id="handsontable1"></div>

<hr/>


<h3>@ViewData["title2"]</h3>

<input id="search_field2" type="search" placeholder="Search">
<p id="search_results2"></p>

<div id="handsontable2"></div>

<hr />


<h3>@ViewData["title3"]</h3>

<input id="search_field3" type="search" placeholder="Search">
<p id="search_results3"></p>

<div id="handsontable3"></div>


<script>
document.addEventListener("DOMContentLoaded", function() {

    handsontableScript("handsontable1", "search_field1", "search_results1", @ViewData["colHeaders1"], @ViewData["data1"]);
    handsontableScript("handsontable2", "search_field2", "search_results2", @ViewData["colHeaders2"], @ViewData["data2"]);
    handsontableScript("handsontable3", "search_field3", "search_results3", @ViewData["colHeaders3"], @ViewData["data3"]);

});
</script>