@using GenealogyWeb.Controllers
@model GenealogyWeb.Core.Models.Person

@{ 
    var dataControllerName = "data";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />

<script>
    $(document).ready(function () {

        $('#people-selectpicker').change(function () {
            var id = $(this).val();
            if(id)
                addPersonsLinks(id);                          
            else
                $('#people-links').html('');                              
        });

        $('#marriages-selectpicker').change(function () {
            var id = $(this).val();
            if(id)
                addMarriagesLinks(id);
            else
                $('#marriages-links').html('');
        });

        $('#sons-selectpicker').change(function () {
            var id = $(this).val();
            if(id)
                addSonsLinks(id);
            else
                $('#sons-links').html('');
        });

        //addPersonsLinks($('#people-selectpicker').val());
        //addMarriagesLinks($('#marriages-selectpicker').val());
        //addSonsLinks($('#sons-selectpicker').val());

        function addPersonsLinks(id){
            var url0 = '/@dataControllerName/@nameof(DataController.PersonById)?id=' + id;
            var url1 = '/@dataControllerName/@nameof(DataController.DeletePerson)?id=' + id;            
            var url2 = '/@dataControllerName/@nameof(DataController.MarriageByPersonId)?id=' + id;
            var url3 = '/@dataControllerName/@nameof(DataController.PersonDownwardTree)?id=' + id;
            var url4 = '/@dataControllerName/@nameof(DataController.PersonUpwardTree)?id=' + id;            
            $('#people-links').html(
                '<a href="' + url0 + '">✎ edit selected</a>' 
                + ' | <a href="' + url1 + '" class="askforconfirmation">✗ delete selected</a>' 
                + ' | <a href="' + url2 + '">✎ edit marriage</a>' 
                + ' | <a href="' + url3 + '">🡓 show downward tree</a>' 
                + ' | <a href="' + url4 + '">🡑 show upward tree</a>'
                );       
        }

        function addMarriagesLinks(id){
            var url0 = '/@dataControllerName/@nameof(DataController.MarriageById)?id=' + id;
            var url1 = '/@dataControllerName/@nameof(DataController.DeleteMarriage)?id=' + id;            
            $('#marriages-links').html(
                    '<a href="' + url0 + '">✎ edit selected</a>'
                    + ' | <a href="' + url1 + '" class="askforconfirmation">✗ delete selected</a>'
                );       
        }

        function addSonsLinks(id){
            var url0 = '/@dataControllerName/@nameof(DataController.SonById)?id=' + id;
            var url1 = '/@dataControllerName/@nameof(DataController.DeleteSon)?id=' + id;            
            var url2 = '/@dataControllerName/@nameof(DataController.MarriageBySonId)?id=' + id;
            $('#sons-links').html(
                    '<a href="' + url0 + '">✎ edit selected</a>' 
                    + ' | <a href="' + url1 + '" class="askforconfirmation">✗ delete selected</a>' 
                    + ' | <a href="' + url2 + '">✎ edit marriage</a>'
                );       
        }

        /**
        * Ask for confirmation
        **/
        var handleAskfordelete = function (e) {
            e.preventDefault();

            var href = this.getAttribute("data-href");
            var sure = confirm("Are you sure you want to delete this item?");
            if (!sure) return;
            document.location = href;
        }

        $("a.askforconfirmation")
            .click(handleAskfordelete)
            .bind("contextmenu", handleAskfordelete)
            .dblclick(handleAskfordelete)
            .each(function () {
                var href = this.href;
                this.setAttribute("data-href", href);
                this.href = "javascript:void('Navigate to " + href.replace("'", "") + "')";
            })

    });
</script>

<body>

    <h2>People</h2>

    <div>@Html.ActionLink("+ add new person", nameof(DataController.Person))</div>

    <div class="form-group">
        @Html.DropDownListFor(
            m => m.id,
            new SelectList((List<SelectListItem>)ViewBag.people, "Value", "Text"),
            "(Select a person)",
            new
            {
                @class = "form-control selectpicker",
                @id = "people-selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
    </div>

    <div id="people-links"></div>
    
    <hr/>


    <h2>Marriages</h2>

    <div>@Html.ActionLink("+ add new marriage", nameof(DataController.Marriage))</div>

    <div class="form-group">
        @Html.DropDownListFor(
            m => m.id,
            new SelectList((List<SelectListItem>)ViewBag.marriages, "Value", "Text"),
            "(Select a marriage)",
            new
            {
                @class = "form-control selectpicker",
                @id = "marriages-selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
    </div>

    <div id="marriages-links"></div>

    <hr />


    <h2>Sons</h2>

    <div>@Html.ActionLink("+ add new son", nameof(DataController.Son))</div>

    <div class="form-group">
        @Html.DropDownListFor(
            m => m.id,
            new SelectList((List<SelectListItem>)ViewBag.sons, "Value", "Text"),
            "(Select a son)",
            new
            {
                @class = "form-control selectpicker",
                @id = "sons-selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
    </div>

    <div id="sons-links"></div>

    <hr />


    <h2>Full data visualization</h2>

    <div id="tree-container"></div>

</body>



<!-- node tree -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/d3/d3.min.js"></script>
<link rel="stylesheet" href="~/css/nodeTree.css" />

<script>
    var treeData = @ViewBag.json;
</script>

<script src="~/js/nodeTree.js"></script>

<!-- node tree -->