<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script src="~/lib/pikaday/pikaday.js"></script>
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/zeroclipboard/dist/ZeroClipboard.min.js"></script>
<script src="~/lib/handsontable/dist/handsontable.js"></script>

<link rel="stylesheet" href="~/lib/pikaday/css/pikaday.css" />
<link rel="stylesheet" href="~/lib/handsontable/dist/handsontable.css" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/genealogy.js"></script>
<script src="~/js/handsontable-script.js"></script>


<div>
    <a href="#" onclick="return popitup('/data/downwardtree')">Show full genealogy</a>
</div>

<button name="save" id="save" class="intext-btn">Save</button>
<pre id="pending_changes" class="console"></pre>
<pre id="save_result" class="console"></pre>


<h3>@ViewData["title_1"]</h3>

<input id="search_field_persons" type="search" placeholder="Search">
<pre id="search_result_persons"></pre>

<div id="handsontable_persons"></div>

<hr/>


<h3>@ViewData["title_2"]</h3>

<input id="search_field_marriages" type="search" placeholder="Search">
<pre id="search_result_marriages"></pre>

<div id="handsontable_marriages"></div>

<hr />


<h3>@ViewData["title_3"]</h3>

<input id="search_field_sons" type="search" placeholder="Search">
<pre id="search_result_sons"></pre>

<div id="handsontable_sons"></div>


<script>

    /**
    * Shows the destination url in a new window.
    **/
    function popitup(url) {
        newwindow=window.open(url,'name','height=800,width=1200');
        if (window.focus) {newwindow.focus()}
        return false;
    }
    
    /**
    * Adds an row to the delete list. Finds the type of the parent element, and adds it to the element.
    **/
    function addToDeleteList(rowIndex, typeId) { 
        console.log(handsontableObjects);
        for(var elementIndex=0; elementIndex<elements.length; elementIndex++)
        {
            var element = elements[elementIndex];
            if(element.typeId == typeId)
            {
                var handsontableObj = handsontableObjects[element.typeId];
                var rowData = handsontableObj.getSourceDataAtRow(rowIndex);
                element.addPendingDelete(rowIndex, rowData);
                break;
            }
        }           
    }

    var colHeaders_1 = @ViewData["colHeaders_1"];
    var data_1 = @ViewData["data_1"];

    var colHeaders_2 = @ViewData["colHeaders_2"];
    var data_2 = @ViewData["data_2"];

    var colHeaders_3 = @ViewData["colHeaders_3"];
    var data_3 = @ViewData["data_3"];

    // Set as global, so the function `addToDeleteList` can reach it.
    var elements = new Array();        

    var handsontableObjects = new Array();

</script>