@using GenealogyWeb.Views

@model GenealogyWeb.Core.Models.Matrimoni

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>

@using (Html.BeginForm("Marriage", "Data"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.home_id)
        @Html.DropDownListFor(
                m => m.home_id,
                new SelectList((List<SelectListItem>)ViewData["men"], "Value", "Text"),
                new {
                    @class = "form-control selectpicker",
                    data_show_subtext = "true",
                    data_live_search = "true"
                }
            )
        @Html.ValidationMessageFor(m => m.home_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.dona_id)
        @Html.DropDownListFor(
                m => m.dona_id,
                new SelectList((List<SelectListItem>)ViewData["women"], "Value", "Text"),
                new
                {
                    @class = "form-control selectpicker",
                    data_show_subtext = "true",
                    data_live_search = "true"
                }
            )
        @Html.ValidationMessageFor(m => m.home_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.lloc)
        @Html.TextBoxFor(m => m.lloc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.lloc)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.data)
        @Html.TextBoxFor(m => m.data, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.data)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.observacions)
        @Html.TextAreaFor(m => m.observacions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.observacions)
    </div>

    <button type="submit">Save</button>
}