@model GenealogyWeb.Core.Models.Matrimoni

@using (Html.BeginForm("Marriage", "Data"))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.home_id)
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.dona_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.lloc)
        @Html.TextBoxFor(m => m.lloc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.lloc)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.data)
        @Html.TextBoxFor(m => m.data, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.data)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.observacions)
        @Html.TextAreaFor(m => m.observacions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.observacions)
    </div>

    <button type="submit">Save</button>
}