@model GenealogyWeb.Core.Models.Persona

<h1>Data</h1>

@using (Html.BeginForm("Person", "Data"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.id)
        @Html.TextBoxFor(m => m.id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.nom)
        @Html.TextBoxFor(m => m.nom, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nom)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.llinatge_1)
        @Html.TextBoxFor(m => m.llinatge_1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.llinatge_1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.llinatge_2)
        @Html.TextBoxFor(m => m.llinatge_2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.llinatge_2)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.home)
        @Html.CheckBoxFor(m => m.home)
        @Html.ValidationMessageFor(m => m.home)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.naixement_data)
        @Html.TextBoxFor(m => m.naixement_data, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.naixement_data)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.naixement_lloc)
        @Html.TextBoxFor(m => m.naixement_lloc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.naixement_lloc)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.mort_data)
        @Html.TextBoxFor(m => m.mort_data, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.mort_data)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.mort_lloc)
        @Html.TextBoxFor(m => m.mort_lloc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.mort_lloc)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.info)
        @Html.TextBoxFor(m => m.info, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.info)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.observacions)
        @Html.TextAreaFor(m => m.observacions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.observacions)
    </div>

    <button type="submit">Save</button>
}

@{
    var onclick1 = "'/data/persondownwardtree?personId=" + Model.id + "'";
    var link1 = "<a href=\"#\" onclick=\"return popitup(" + onclick1 + ")\">downward tree</a>";

    var onclick2 = "'/data/upwardtree?personId=" + Model.id + "'";
    var link2 = "<a href=\"#\" onclick=\"return popitup(" + onclick2 + ")\">upward tree</a>";

    //var onclick3 = "'/data/personById?personId=" + Model.id + "'";
    //var link3 = "<a href=\"#\" onclick=\"return popitup(" + onclick3 + ")\">edit person</a>";

    var onclick3 = "'/data/marriageByPersonId?personId=" + Model.id + "'";
    var link3 = "<a href=\"#\" onclick=\"return popitup(" + onclick3 + ")\">edit marriage</a>";
}

<hr/>

<h1>Features</h1>

<div>
@Html.Raw(@link1) | @Html.Raw(@link2) | @Html.Raw(@link3)
</div>

<script>
    /**
    * Shows the destination url in a new window.
    **/
    function popitup(url) {
        newwindow=window.open(url,'name','height=800,width=1200');
        if (window.focus) {newwindow.focus()}
        return false;
    }
</script>