@model GenealogyWeb.Core.Models.Fill

<br />

@{
    if (Model.id.HasValue)
    {
        <div>
            @Html.ActionLink("✗ delete son", "deleteSon", new { id = Model.id })
        </div>
    }
    else
    {
        <div class="alert alert-info">
            <strong>Info:</strong> create a new son.
        </div>
    }
}

<hr/>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>

@using (Html.BeginForm("Son", "Data"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.id)
        @Html.TextBoxFor(m => m.id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.matrimoni_id)
        @Html.DropDownListFor(
            m => m.matrimoni_id,
            new SelectList((List<SelectListItem>)ViewData["marriages"], "Value", "Text"),
            new
            {
                @class = "form-control selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
        @Html.ValidationMessageFor(m => m.matrimoni_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.persona_id)
        @Html.DropDownListFor(
            m => m.persona_id,
            new SelectList((List<SelectListItem>)ViewData["persons"], "Value", "Text"),
            new
            {
                @class = "form-control selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
        @Html.ValidationMessageFor(m => m.persona_id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.observacions)
        @Html.TextAreaFor(m => m.observacions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.observacions)
    </div>

    <button type="submit">Save</button>
}
